.page-profile {
  width: 100%;
  display: flex;
  height: 100%;
  background: $concrete;
}

.profile {
  width: 100%;

  & h3 {
    margin: 0px;
    padding: 10px;
  }

  &-title {
    color:  white;
    padding: 10px;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 46px 10px 0px;
    
    & li {
      color: white;
      background: #092140;
      margin: 10px 4px 0 4px;
      padding: 4px 10px 4px 10px;
      list-style-type: none;
    }
  }

  &-recipes-box {
    cursor: pointer;
    margin: 40px 10px 0 10px;
    padding: 0px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    
    @include media('<xl') {
      min-width: 300px;
      max-width: 500px;
    }
    
    & a {
      color: $dove-grey;
    }
  }

  &-action {
    text-align: center;
    background: $dove-grey;
    color: $pure-white;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 10px 0 10px 0;
    
    & a {
      color: $pure-white;
    }
  }
}