/* Colors
   ========================================================================== */

/**
 * Set colors used in project. e.g $color-name: #hexvalue
 */

$color-black: #000000;
$pure-white: #ffffff;

//project colors
$carmine: #a1001e;
$dove-grey: #353535;
$cod-gray: #191919;
$gray: #8e8e8e;
$concrete: #f3f3f3;